@using AccentureAccademyLibrary.GonzaloIriart.Models
@model Book
@{
    AccentureAccademyLibraryEntities db = new AccentureAccademyLibraryEntities();
    List<Author> authors = db.Author.OrderBy(author => author.Name).ToList();
    List<Genre> genres = db.Genre.OrderBy(g => g.Name).ToList();
    List<Publisher> publishers = db.Publisher.OrderBy(p => p.Name).ToList();
}
<h2>AddBook Form</h2>

<form id="addForm" method="post">
    <div>
        <label for="txtTitulo">Title</label>
        <input type="text" id="txtTitulo" class="form-control" name="Title" value="" />
    </div>
    <div>
        <label for="txtReleaseDate">Release Date</label>
        <input type="datetime" id="txtReleaseDate" class="form-control" name="ReleaseDate" value="" />
    </div>
    <div>
        <label for="txtCover">Cover</label>
        <input type="text" id="txtCover" class="form-control" name="Cover" value="" />
    </div>
    <div>
        <label for="txtISBN">ISBN</label>
        <input type="text" id="txtISBN" class="form-control" name="ISBN" value="" />
    </div>
    <div>
        <label for="txtDescription">Description</label>
        <input type="text" id="txtDescription" class="form-control" name="Description" value="" />
    </div>
    <div>
        <label for="selGenre">Genre</label>
        <select id="selGenre" class="form-control" name="Id_Genre" value="">
            <option>Select Genre...</option>
            @foreach (Genre g in genres)
            {
                <option value="@g.Id">@g.Name</option>
            }
        </select>
        <button>Add new Genre</button>
    </div>
    <div>
        <label for="selPublisher">Publisher</label>
        <select id="selPublisher" class="form-control" name="Id_Publisher" value="">
            <option>Select Publisher...</option>
            @foreach (Publisher p in publishers)
            {
                <option value="@p.Id">@p.Name</option>
            }
        </select>
        <button>Add new Publisher</button>
    </div>
    <div id="authorsContainer">
        <div id="authorDiv">
            <label for="selAuthor">Author</label>
            <select id="selAuthor" class="form-control" name="Authors" value="">
                <option>Select Author...</option>
                @foreach (Author autor in authors)
                {
                    <option value="@autor.Id">@autor.Name</option>
                }
            </select>
            <button>Add new Author</button>
        </div>
    </div>
    <button id="addAuthor">Add Author</button>

    <button id="addBook" style="margin-top: 1em">Send</button>
</form>
<script>
    let btnAddAuthor = document.querySelector("#addAuthor");
    let btnAddBook = document.querySelector("#addBook");
    let authorsContainer = document.querySelector("#authorsContainer");
    btnAddAuthor.addEventListener("click", (e) => {
        e.preventDefault();
        let divAuthor = document.querySelector("#authorDiv");
        let divClone = divAuthor.cloneNode(true);
        authorsContainer.appendChild(divClone);
    });

    //Add options from database to selects
    let selectAuthor = document.querySelector("#selAuthor");
    let selectGenre = document.querySelector("selGenre");
    let selectPublisher = document.querySelector("#selPublisher");
    
</script>

