<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet"/>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-light bg-light navbar-static-top" style=" background-color:#2C3D63; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
        
            <div class="navbar-header" >
                @Html.ActionLink("Accenture Accademy", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Library/AddBook">
                            <i class="glyphicon glyphicon-plus" id="add-new-book"></i>
                            <span>Add book</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Library/Recommend">
                            <i class="glyphicon glyphicon-star" id="btn-recommend"></i>
                            <span>Recommend</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="#">Authors</a>
                            <div class="dropdown-divider"></div>
                            <a href="#">Genres</a>
                            <div class="dropdown-divider"></div>
                            <a href="#">Publishers</a>
                        </div>
                    </li>
                </ul>
            </div>
   
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Accenture Accademy Library - Gonzalo T. Iriart</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
